body {
	background-image: url('../img/background.jpg'); 
	background-repeat: repeat-y;
	height: 100%;
	background-size: cover;
}
#toparea {
	min-height: 130px;
	background-image:url('../img/background.jpg');
	background-size: cover;
}
.title-area {
	padding-top: 2em;
	padding-left: 15%;
}
#header {
	position: absolute;
	display: table;
	width: 100%;
	line-height: normal;
	text-align: center;
}
#mainHeader {
	color: #fff;
}
#secondaryHeader {
	color: red;
	font-style:	italic; 
}
#yellowBar {
	background-color: yellow;
	width: 100%;
	height: 20px;
}

/*Internal pages Top Nav Menu*/
#yellowBar2 {
	background-color: yellow;
	width: 100%;
	height: 50px;
	text-align: center;
}
#yellowBar2 a {
	font-size: 1.5em;
}
/*Side menu*/
dl.magellan {
	width: 200px;
}
.tabs.vertical dd, .tabs.vertical .tab-title {
position: static !important;
width: 100% !important;
float: none;
}


.mainblock {
	position: relative;
	top: 5em;
	text-align: center;
}
.mainblock ol {
	text-align: left;
}
#homepage {
	background-image: url('../img/paper.jpg'); 
	background-repeat: repeat-y;
	height: 70%;
	background-size: cover;
}
#main-content{
	background-image: url('../img/paper.jpg'); 
	background-repeat: repeat;
	height: auto;
	/*overflow: auto;*/
}
#sub-header1 {
	color: #e59c01;
	text-align:center;
	padding: .5em 1em 1em;
}
#sub-header2 {
	color: #0c7ff4;
	text-align:center;
	padding: .5em 1em 1em;
}
#sub-header3 {
	color: #fca600;
	text-align:center;
	padding: .5em 1em 1em;
}
footer{
	background-image: url('../img/background.jpg');
	background-size: cover;
	padding-top: 2em;
}
footer p {
	line-height: 1em;
}
#footertxt1 {
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
#footertxt2 {
	color: #ffe400;
	text-align: center;
	margin-bottom: 10px;
}
#footertxt3 {
	color: #676767;
	text-align: center;
	font-size: .8em;
}
/*homepage Menu transitions*/
#specialEd {
	position: absolute;
	top: 0em;
	left: 2.45em;
	width: 250px;
	height: 310px;
	background: transparent;
	-webkit-transition: width 1s, height 1s, background 1s, z-index .1s, top 1s;
	   -moz-transition: width  1s, height 1s, background 1s, z-index .1s, top 1s;
	     -0-transition: width 1s, height 1s, background 1s, z-index .1s, top 1s;
			transition: width 1s, height 1s, background 1s, z-index .1s, top 1s;
	z-index: 10;
}
#specialEd:hover {
	width: 918px;
	height: 390px;
	background: #9ed900;
	z-index: 20;
	top:3.8em;

}
#specialEd section{
	visibility:hidden;
	opacity:0;
	transition: visibility 0s, opacity 2s;
}
#specialEd:hover section{
	visibility:visible;
	opacity:1;
	transition-delay: .54s;
}


#reading {
	position: absolute;
	top: 0em;
	left: 2.45em;
	width: 250px;
	height: 310px;
	background: transparent;
	-webkit-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	   -moz-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	     -0-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	        transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	z-index: 10;
}
#reading:hover {
	width: 918px;
	height: 390px;
	background: #0c7ff4;
	left: -18.45em;
	z-index: 20;
	top:3.8em;
}

#frameworks {
	position: absolute;
	top: 0em;
	left: 2.45em;
	width: 250px;
	height: 310px;
	background: transparent;
	-webkit-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	   -moz-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	     -0-transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
			transition: width 1s, height 1s, background 1s, left 1s, z-index .1s, top 1s;
	z-index: 10;
}

#frameworks:hover {
	width: 918px;
	height: 390px;
	background: #fca600;
	left: -39.2em;
	z-index: 20;
	top:3.8em;

}


.top-bar-section li a:not(.button) {
    background: yellow !important; 
    color: #000 !important; 
    text-align: center; 
}

.top-bar-section li a:not(.button):hover {
    background: green !important;   
}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}





.sticky.top-bar-section ul {display: table; margin: 0 auto;}
.sticky.top-bar-section ul li {display: table-cell;}




#redpanel{
	background-color: red;
}
#redpanel p{
		color: #fff;
}
#left{
	float: left;
}
#right {
	float: right;
}
hr.thickGreen{
	border-width: 5px 0 0;
	border-color: #9ed900
}
#accordionheader{
	color: #5b7d00;
}
.fixed {
	text-align: center !important;
}
.accordion .accordion-navigation > a, .accordion dd > a {
	background: #c0d38e !important;
	padding: .5em !important;
	color: #5b7d00 !important;
	font-size: 1.1em !important;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
	background: #5b7d00 !important;
	color: #fff !important;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
	background: #f4f9e5 !important;

}
.videomodal {
	width: 155px;
	background:url(images/sprite.png) 330 330px;}
}
