<div>
  <ul id="nobull" class="title-area small-3 columns" >
    <li class="name">
      <a href="index.html"><img src="img/actlogoheader.png" alt="ACT logo" width="130"></a>
    </li>
  </ul>
  <div class="small-6 columns" id="header">
    <h1 id="mainHeader">Intern Training Portal</h1>
    <h3 id="secondaryHeader"> Authorized Access Only</h3>
  </div>
  <section class="small-3 columns">
    <!-- Right Nav Section -->
     <a href="#" id="loginbutton" class="button tiny alert" data-reveal-id="login">LOGOUT</a>
  </section>
</div>