<div class="small-12 columns">
<!-- *********************** -->
<!-- LARGE SCREEN -->
<div class="show-for-large-up">
  <div>
      <ul id="nobull" class="title-area small-3 columns" >
        <li class="name">
          <a href="#"><img src="img/actlogoheader.png" alt="ACT logo" width="130"></a>
        </li>
      </ul>
      <div class="small-6 columns" id="header">
        <h1 id="mainHeader">Intern Training Portal</h1>
        <h3 id="secondaryHeader"> Authorized Access Only</h3>
      </div>
    <section class="small-2 columns">
      <!-- Right Nav Section -->
       <a href="#" id="loginbutton1" class="button tiny alert" data-reveal-id="login">LOGIN</a>
    </section>
  </div> 
</div>

<!-- *********************** -->
<!-- MEDIUM SCREEN -->


<div class="show-for-medium-only">
  <ul id="nobull" class="title-area small-3 columns" >
    <li class="headermed">
      <a href="index.html"><img src="img/actlogoheader.png" alt="ACT logo" width="130"></a>
    </li>
  </ul>
  <div class="small-6 columns header">
    <h3 id="mainHeader">Intern Training Portal</h3>
    <h4 id="secondaryHeader"> Authorized Access Only</h4>
  </div>
  <section class="small-3 columns">
    <!-- Right Nav Section -->
     <a href="#" id="loginbuttonmed" class="button tiny alert" data-reveal-id="login">LOGOUT</a>
  </section>
</div>


<!-- *********************** -->
<!-- SMALL SCREEN -->

<div class="show-for-small-only">
  <div class="small-3 columns" > 
    <a href="index.html"><img src="img/actlogoheader.png" alt="ACT logo" width="130"></a>
  </div>  
  <div class="small-9 columns" id="headersm1">
    <p id="mainHeader">Intern Training Portal</p>
    <p id="secondaryHeader"> Authorized Access Only</p>
  </div>
  <div class="small-2 columns">
    <!-- Right Nav Section -->
     <a href="#" id="loginbuttonsmall2" class="button tiny alert" data-reveal-id="login">LOGOUT</a>
  </div>
</div>  