<!-- ***************************************** -->
<!-- MENU BAR FOR MEDIUM AND LARGE VIEWS -->
<ul class="show-for-medium-up">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li>
    <a href="specialed.html">Special Education</a>
  </li>
  <li>
    <a href="intro.html">Reading Instruction</a>
  </li>
  <li>
    <a href="frameworks.html">Frameworks</a>
  </li>
</ul>
    


<!-- ***************************************** -->
<!-- OFF CANVAS MENU FOR SMALL DEVICES -->

  <!-- <h3 class="left-off-canvas-toggle show-for-small-only" href="#mymenu" >Menu</h3> -->

